body {
	color: #110493;
	background-image: url("grass.jpg");
	text-align: center;
}
h1 {
	color: #876D11;
	text-align: center;
	background-color: green;

}
h3 {
	font-style: italic;
}
p {
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}