body {
	color: #110493;
	background-color: green;
	text-align: center;
	font-family:'Yanone Kaffeesatz' , sans-serif;
}
h1 {
	color: #876D11;
	text-align: center;
	background-color: green;

}
h3 {
	font-style: italic;
}
p {
	font-family: 'Lora' serif; 
	font-size: 16px;
	text-align: center;
}